<h1>Registeration page at Samans Enterprices!</h1>

<p>Fill in the registration form!</p>

<form>
    <label for="username">Username: </label> <br>
    <input type="text" id="username" name="username" placeholder="Enter your Username.." [(ngModel)]="user.username">
    You typed: {{user.username}}
    <br>

    <label for="password">Password: </label> <br>
    <input type="password" id="password" name="password" placeholder="Enter your Password.." [(ngModel)]="user.password">
    <br>

    <br>
    <br>
    <button type="button" (click) = "onRegisterClicked()">Register</button>

</form>